.genreCard {
  background: var(--card-bg-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 1.5rem;
  transition: background 0.3s ease, color 0.3s ease;
}

.viewButton {
  background: transparent;
  color: var(--text-color);
  border: 2px solid var(--button-bg-color);
  border-radius: 25px;
  padding: 0.75rem 1.5rem;
  transition: background 0.3s ease, color 0.3s ease;
}

.viewButton:hover {
  background: var(--button-bg-color);
  color: white;
}
